* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .container {
    height: 100%;
    font-family: sans-serif;
}
nav {
    float: right;
}
nav a {
    font-size: small;
    font-family: 'Gilroy-Light';
    color: black;
    text-decoration: none;
    margin: 15px;

}
a:hover {
    text-decoration: underline;
}

div.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
@font-face {
    font-family: "Gilroy-Light";
    src: url(Gilroy-Light.otf);
}
h1 {
    font-size: 500%;
    color: dodgerblue;
    text-align: center;
    font-family: "Gilroy-Light";
    padding-top: 50px;
    margin: 20px;
}
form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
input {
    width: 60%;
    margin: 15px auto;
    border-width: 0.5px;
    outline: none;
}
input[type=text] {
    height: 45px;
    font-size: large;
    border-radius: 50px;
    border-color: #efefef;
    background-color: white;
    background-image: url(search-solid.svg);
    background-position: 13px 13px;
    background-size: 3%;
    padding-left: 40px;
    background-repeat: no-repeat;
}
input[type=text]:hover {
    box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.2);
}
input[type=submit] {
    width: 15%;
    padding: 8px 2px;
    border-radius: 5px;
    border-color: transparent;
}
input[type=submit]:hover {
    border-color: #efefef;
}